@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


/* font-families */

// $open_sans: 'Open Sans', sans-serif;
$open_sans: 'Montserrat', sans-serif;
$blue: #17365D;
$red: #A54A4A;
$grey: #404040;
$white: #fff;
$black: #000;


body {
	font-family: $open_sans;
}
.center {
	text-align: center;
}
input, button, a {
	&:focus {
		outline: none;
	}
}
.table-div {
	display: table;
	> div {
		display: table-cell;
		width: 10%;
	}
}

/* header css */


/* index page css */

.home-title {
	padding: 150px 0;
	text-align: center;
	h2 {
		font-size: 50px;
		font-weight: 400;
		margin-bottom: 0;
		color: $grey;
	}
	img {
		width: 345px;
		height: auto;
		margin: 40px 0 10px 0;
	}
	span {
		font-style: italic;
		font-size: 14px;
		color: #AAA;
	}
}

/* page css */

.logo-div {
	padding: 10px 0;
	text-align: center;
	img {
		width: 150px;
		height: auto;
	}
}

.page-banner-div {
	background: #f7f7f7;

	/*background: url("../img/page-banner.jpg");
	background-size: cover;
	background-repeat: no-repeat;*/
	padding: 30px 0;
	box-shadow: inset 0 0 9px #CCC;
	.top-head {
		padding-left: 100px;
		padding-right: 100px;
		> div {
			display: table;
			width: 100%;
			> div {
				float: none;
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
	h2 {
		font-size: 25px;
		font-weight: 600;
		text-transform: uppercase;
		margin: 0;
		color: #888;
	}
	h3 {
		font-size: 30px;
		font-weight: 400;
		color: $grey;
		margin: 0;
	}
	.logo-right{
		text-align: right;
		img {
			width: 180px;
			height: auto;
		}
	}
}

.page-body {
	padding: 30px 100px;
}
.ques {
	margin: 10px 0;
	font-size: 18px;
	color: $blue;
	font-weight: 700;
	&.center{
		text-align:center;
	}
	input {
		width: 100px;
		margin-left: 10px;
		padding: 4px 5px;
		font-size: 14px;
	}
}
.ans {
	padding-left: 25px;
	font-size: 15px;
}
.next-btn {
	text-align: center;
	margin: 50px;
	a {
		background: #FFF;
		color: #000;
		font-size: 20px;
		padding: 5px 60px;
		border-radius: 5px;
		border: 1px solid #000;
		text-decoration: none;
		transition: 0.3s ease;
		cursor: pointer;
		&:hover {
			background: $blue;
			color: #FFF;
		}
	}
}

/* step1 css */

.page-questions {
	ul {
		list-style-type: none;
		padding-left: 0;
	}
}

/* step2 css */

.risk-measure {
	width: 100%;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	background: $blue;
	color: $white;
	margin-bottom: 30px;
	> div {
		/*border: 1px solid #eee;*/
		padding: 15px 0;
	}
}

/* step3 css */

.img-col-select {
	margin-top: 30px;
	margin-left: -80px;
	margin-right: -80px;
	.section {
		text-align: center;
		border: 1px solid #aaa;
		padding: 20px;
		h3 {
			font-size: 20px;
			color: $blue;
			margin-top: 0;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
	ul.inputs {
		text-align: left;
		margin-left: 15px;
	}
}

.matrix {
	width: 600px;
	margin: 0 auto;
	position: relative;
	.abs {
		position: absolute;
		z-index: 999;
		&.vertical{
			transform: rotate(-90deg);
		}
	}
	.row {
		> div {
			height: 175px;
			/*border: 1px solid #000;*/
			position: relative;
			.abs {
				font-weight: 600;
			}
			.circle {
				position: absolute;
				z-index: 1000;
				border: 3px solid #fff;
			}
			&.div1{
				background: #BFBFBF;
			}
			&.div2{
				background: #A6A6A6;
			}
			&.div3{
				background: #808080;
			}
			&.div4 {
				background: #D9D9D9;
			}
			&.div5 {
				background: #BFBFBF;
			}
			&.div6 {
				background: #A6A6A6;
			}
			&.div7 {
				background: #F2F2F2;
			}
			&.div8 {
				background: #D9D9D9;
			}
			&.div9 {
				background: #BFBFBF;
			}
			&.simple{
				text-align: center;
				border: none;
				height: auto;
			}
		}
	}
}

.profile {
	width: 600px;
	margin: 0 auto;
	table {
		width: 100%;
		tr {
			background: #DDD;
			td {
				padding: 10px;
				&:first-child {
					font-weight: bold;
					width: 200px;
				}
			}
			&:nth-child(2n+1){
				background: #EEE;
			}
		}
	}
}

.portfolio {
	width: 600px;
	margin: 0 auto;
	position: relative;
}

.chart {
	position: relative;
	.hide-text {
		background:#FFF;
		position:absolute;
		bottom:0;
		height:20px;
		z-index:999;
		width:100%;
	}
}

.portfolio-table {
	width: 600px;
	margin: 0 auto;
	h2 {
		text-align: center;
	}
	table {
		width: 100%;
		thead tr {
			background: none !important;
			td {
				color: $blue;
				font-weight: 600;
				font-size: 18px;
			}
		}
		tr {
			background: #DDD;
			td {
				padding: 10px;
				&:first-child {
					font-weight: bold;
				}
			}
			&:nth-child(2n+1){
				background: #EEE;
			}
		}
	}
}

.diversification {
	width: 600px;
	margin: 0 auto;
	h2 {
		text-align: center;
	}
	table {
		width: 100%;
		thead tr{
			font-size: 16px;
			font-weight: 600;
			color: $blue;
			background: #ddd !important;
			border-bottom: 1px solid $blue;
		}
		tr {
			background: #DDD;
			td {
				padding: 10px;
				&:first-child {
					font-weight: bold;
				}
				span {
					display: block;
					background: $blue;
					height: 6px;
					width: 50px;
				}
			}
			&:nth-child(2n+1){
				background: #EEE;
			}
		}
	}
}
.draggable{
	cursor: move;
}
.blue {
	background: $blue;
	color: #FFF;
}
.grey:hover {
	background: #EEE;
}